.mb-3 {

    color: black;

    font-family: sans-serif;
}

.background {
    background-image: url("https://images.pexels.com/photos/7303151/pexels-photo-7303151.jpeg?auto=compress&cs=tinysrgb&w=600.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Search{
    border-radius: 6px;
border-color: black;
    font-family: cursive;
}
.td{
    
    font-size: 20px;
}
.mb-3{
    color: #054d69;

}